html,
body {
  background-color: #F0F3F7;
  font-size: 0.85em;
  line-height: 1.4;
  overflow:auto;
  margin:0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body{
  padding:0px!important;
}

main{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* height: 752px; */
}

section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  width: 1120px;
  /* height: 672px; */
  background: #FCFCFC;
  box-shadow: 0px 2px 2px rgba(2, 2, 15, 0.01), 0px 2px 4px rgba(2, 2, 15, 0.01), 0px 0px 24px rgba(2, 2, 15, 0.01), 0px 2px 72px rgba(2, 2, 15, 0.01);
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #203645;
  display:flex;
  flex: none;
  /* order: 0; */
  align-self: stretch;
  flex-grow: 0;
}

h3{
  /* width: 1056px;
  height: 32px; */
  display:flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #203645;
  flex: none;
  /* order: 0; */
  align-self: stretch;
  flex-grow: 0;
  margin:0px 0px 8px 0px;
}

p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #6B747D;
  flex: none;
  /* order: 1; */
  align-self: stretch;
  flex-grow: 0;
  /* margin:0 0 48px 0; */
}

label{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #203645;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom:8px;
}

select{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  width: 476px;
  height: 48px;
  background: #FCFCFC;
  border: 1px solid #ABC6D8;
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

input{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  width: 440px;
  height: 30px;
  background: #FCFCFC;
  border: 1px solid #ABC6D8;
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}

.inputGroup span{
  display: flex;
  align-items: center;
  height:48px;
  gap: 8px;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
 /* gap: 32px;
   width: 1040px;
height: 500px; */
  background: #F0F3F7;
  border-radius: 12px;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.pageContentRow{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 976px;
  height: auto;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom:24px;
}
/* 
.pageContentRow:last-child{
  margin-bottom:0px;
} */

.buttonGroupHldr{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 0px;
   gap: 10px;
   /* width: 976px;
   height: 40px; */
   flex: none;
   /* order: 1; */
   align-self: stretch;
   flex-grow: 0;
}

footer{
  margin-bottom:20px;
}